<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.204" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.205.9" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net48" />
  <package id="Prism.Unity" version="7.2.0.1422" targetFramework="net48" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="24.1.41" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="24.1.41" targetFramework="net48" />
  <package id="Syncfusion.SfBusyIndicator.WPF" version="21.2.10" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="24.1.41" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WPF" version="21.2.10" targetFramework="net48" />
  <package id="Syncfusion.SfScheduler.WPF" version="21.2.10" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="21.2.10" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="24.1.41" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialDark.WPF" version="21.2.10" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="21.2.10" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.1" targetFramework="net48" />
</packages>